.abas-textos {
    background-color: var (--texto-fundo);
    padding: 40px;
    border-radius: 00 40px 40px;
}
.aba-conteudo{
    display: block;
}
.aba-conteudo{
    display: nome;
}
.aba.conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
}
.aba-conteudo-titulo-secundario{
    text-align: center;
    color: var (--verde);
    text-transform:  uppercase;
}
.lista-menu {
    display: none;
    }
    .container__botao:checked ~ .lista-menu {
        display: block;
        }
        .cabeçalho {
            background-color: var(--branco);
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            }
            .lista-menu {
                display: none;
                position: absolute;
                top: 100%;
                }
                .lista-menu__titulo,
.lista-menu__item {
padding: 1em;
background-color: var(--branco);
}
:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    }
    